<!DOCTYPE html>
<html>
<body>
	<h2 id="chapter-3-0" th:fragment="header">3 Spring Data REST</h2>
	
	<div th:fragment="content">
		<ul>
			<li><a href="#chapter-3-1">Reading objects</a></li>
			<li><a href="#chapter-3-2">Maintaining objects</a></li>
			<li><a href="#chapter-3-3">Working with relationships</a></li>
			<li><a href="#chapter-3-4">Searching</a></li>
			<li><a href="#chapter-3-5">Advanced searching</a></li>
		</ul>

		<div th:replace="fragments/3-1-spring-data-rest :: header" />
		<div th:replace="fragments/3-1-spring-data-rest :: content" />
		
		<div th:replace="fragments/3-2-spring-data-rest :: header" />
		<div th:replace="fragments/3-2-spring-data-rest :: content" />
		
		<div th:replace="fragments/3-3-spring-data-rest :: header" />
		<div th:replace="fragments/3-3-spring-data-rest :: content" />
		
		<div th:replace="fragments/3-4-spring-data-rest :: header" />
		<div th:replace="fragments/3-4-spring-data-rest :: content" />
		
		<div th:replace="fragments/3-5-spring-data-rest :: header" />
		<div th:replace="fragments/3-5-spring-data-rest :: content" />
	</div>
</body>
</html>
