<!DOCTYPE html>
<html>
<body>
	<h3 id="chapter-5-4" th:fragment="header">5.4 ItSystem API</h3>
	
	<div th:fragment="content">
		<h4>Description</h4>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Type</th>
						<th>Status</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Generated Secure API</td>
						<td>Stable</td>
						<td>This API gives read-only access to the ItSystem classification</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<h4>Useful operations</h4>
		<p>
			Note that this is a generated API, so it supports all of the operations that
			Spring Data REST allows (though updating operations are disabled).
			This list is just the operations that are useful for the frontend.
			Note that when fetching all ItSystem values, it might be useful
			to set the size parameter to some very high number, to effectively disable pagination,
			as the list will likely only have some 3000 values, and the data-size is very small.
			Also the data practically never changes (roughly once every week), so it makes
			sense for the frontend to load all ItSystem values in the beginning, and then store
			them locally in the DOM.
		</p>

		<p>
			<div class="card">
				<div class="card-body">
					<strong>Fetch a list of ItSystems</strong>
					<pre class="card-text">GET https://dev.os2autoproces.eu/api/itSystems
(returns a list of ItSystem values, example given in the subchapter below)</pre>
				</div>
			</div>
		</p>
		
		<h4>Example output</h4>
		<p>
			The output follows the standard structure for list-output on generated APIs, meaning that the
			result comes in the '_embedded' field, and pagination metadata comes in the 'page' field.
			The result contains an array of (simple) ItSystem objects, which are described in the datamodel chapter below. 
		</p>
		
		<p>
			<div class="card">
				<div class="card-body">
					<pre class="card-text">{
  "_embedded" : {
    "itSystems" : [ {
      "id" : 1,
      "name" : "Microsoft Office pakken",
      "vendor" : null
    }, {
      "id" : 2,
      "name" : "Mirasys",
      "vendor" : null
    }, {
      "id" : 3,
      "name" : "Smart Parking",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 4,
      "name" : "Opendata.dk",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 5,
      "name" : "Startsag",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 6,
      "name" : "EAS ErhvervsAffaldsSystem",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 7,
      "name" : "Hyena",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 8,
      "name" : "Virksomhedsoverblikket",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 9,
      "name" : "EG Nemjournalisering NFS Workbase",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 10,
      "name" : "Kommunal sundhedskort",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 11,
      "name" : "Instant Survey",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 12,
      "name" : "Icura Activity",
      "vendor" : "Fælles Kommune"
    }, {
      "id" : 13,
      "name" : "CutePDF",
      "vendor" : "Acro Software Inc."
    }, {
      "id" : 14,
      "name" : "Acta Pension",
      "vendor" : "Acta Data"
    }, {
      "id" : 15,
      "name" : "Adobe Reader",
      "vendor" : "Adobe Systems Danmark Aps"
    }, {
      "id" : 16,
      "name" : "Adobe LiveCycle",
      "vendor" : "Adobe Systems Danmark Aps"
    }, {
      "id" : 17,
      "name" : "Adobe Digital Editions",
      "vendor" : "Adobe Systems Danmark Aps"
    }, {
      "id" : 18,
      "name" : "Adobe Indesign",
      "vendor" : "Adobe Systems Danmark Aps"
    }, {
      "id" : 19,
      "name" : "Adobe Photoshop",
      "vendor" : "Adobe Systems Danmark Aps"
    }, {
      "id" : 20,
      "name" : "Adobe Professional",
      "vendor" : "Adobe Systems Danmark Aps"
    } ]
  },
  "_links" : {
    "first" : {
      "href" : "https://dev.os2autoproces.eu/api/itSystems?page=0&amp;size=20"
    },
    "self" : {
      "href" : "https://dev.os2autoproces.eu/api/itSystems{?page,size,sort}",
      "templated" : true
    },
    "next" : {
      "href" : "https://dev.os2autoproces.eu/api/itSystems?page=1&amp;size=20"
    },
    "last" : {
      "href" : "https://dev.os2autoproces.eu/api/itSystems?page=117&amp;size=20"
    },
    "profile" : {
      "href" : "https://dev.os2autoproces.eu/api/profile/itSystems"
    }
  },
  "page" : {
    "size" : 20,
    "totalElements" : 2343,
    "totalPages" : 118,
    "number" : 0
  }
}</pre>
				</div>
			</div>
		</p>
		
		<h4>Datamodel</h4>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Field</th>
						<th>Type</th>
						<th>Nullable</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>id</td>
						<td>integer</td>
						<td>no</td>
						<td>The unique id of the ItSystem, used for referencing the ItSystem</td>
					</tr>
					<tr>
						<td>name</td>
						<td>string</td>
						<td>no</td>
						<td>The productname of the ItSystem</td>
					</tr>
					<tr>
						<td>vendor</td>
						<td>string</td>
						<td>yes</td>
						<td>The vendor of this ItSystem</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
