<!DOCTYPE html>
<html>
<body>
	<h2 id="chapter-6-0" th:fragment="header">6 Custom APIs</h2>
	
	<div th:fragment="content">
		<div th:replace="fragments/6-1-api-bookmark :: header" />
		<div th:replace="fragments/6-1-api-bookmark :: content" />

		<div th:replace="fragments/6-2-api-comment :: header" />
		<div th:replace="fragments/6-2-api-comment :: content" />
		
		<div th:replace="fragments/6-3-api-attachment :: header" />
		<div th:replace="fragments/6-3-api-attachment :: content" />
		
		<div th:replace="fragments/6-4-api-cms :: header" />
		<div th:replace="fragments/6-4-api-cms :: content" />
		
		<div th:replace="fragments/6-5-api-notification :: header" />
		<div th:replace="fragments/6-5-api-notification :: content" />
		
		<div th:replace="fragments/6-6-api-excel :: header" />
		<div th:replace="fragments/6-6-api-excel :: content" />
	</div>
</body>
</html>
