<!DOCTYPE html>
<html>
<body>
	<h3 id="chapter-6-4" th:fragment="header">6.4 CMS API</h3>
	
	<div th:fragment="content">
		<h4>Description</h4>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Type</th>
						<th>Status</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Custom Secure API</td>
						<td>Stable</td>
						<td>This API allows all users to read data, and users with the role ROLE_FRONTPAGE_EDITOR to update data,
						where the data is used for modifying text in the frontend (e.g. frontpage). Note that the data is not
						municipality specific, so any data stored is available for all municipalities.</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<h4>Useful operations</h4>
		<p>
			Below are listed the operations available on this API (note the difference in URL patterns on the two first operations)
		</p>

		<p>
			<div class="card">
				<div class="card-body">
					<strong>Retrieve all stored data</strong>
					<pre class="card-text">GET https://www.os2autoproces.eu/public/cms
(returns an array of stored data)</pre>

					<strong>Retrieve a given piece of information</strong>
					<pre class="card-text">GET https://www.os2autoproces.eu/public/cms/&lt;label&gt;
(returns the data stored under the supplied label)</pre>

					<strong>Store/update a given piece of information</strong>
					<pre class="card-text">POST https://www.os2autoproces.eu/api/cms/&lt;label&gt;
CONTENT

(the body content is stored "as-supplied" - no JSON wrapping)</pre>

					<strong>Delete a given piece of information</strong>
					<pre class="card-text">DELETE https://www.os2autoproces.eu/api/cms/&lt;label&gt;
(the entry in the database is deleted)</pre>
				</div>
			</div>
		</p>
		
		<h4>Example output</h4>

		<p>
			<div class="card">
				<div class="card-body">
					<pre class="card-text">[
  {
    "label": "frontPageText",
    "content": "Please change this text"
  }
]</pre>
				</div>
			</div>
		</p>
		
		<h4>Datamodel</h4>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Field</th>
						<th>Type</th>
						<th>Nullable</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>label</td>
						<td>String</td>
						<td>no</td>
						<td>The id under which the data is stored</td>
					</tr>
					<tr>
						<td>content</td>
						<td>String</td>
						<td>no</td>
						<td>The data that is stored</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
