<!DOCTYPE html>
<html>
<body>
	<div id="sidebar-wrapper" th:fragment="navbar">
	    <ul class="sidebar-nav">
	        <li class="sidebar-brand">
	            <a th:href="@{/doc}">API Documentation</a>
	        </li>
	        <li>
	            <a href="#chapter-1-0">About the API</a>
	        </li>
	        <li>
	            <a href="#chapter-2-0">Security</a>
	        </li>
	        <li>
	            <a href="#chapter-3-0">Spring Data REST</a>
	        </li>
	        <li>
	            <a href="#chapter-4-0">Public APIs</a>
	            <ul>
	            	<li><a href="#chapter-4-1">Municipality API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-4-2">Who am I API</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#chapter-5-0">Generated APIs</a>
	            <ul>
	            	<li><a href="#chapter-5-1">Technology API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-5-2">KLE API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-5-3">FORM API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-5-4">ItSystem API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-5-5">Process API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-5-6">OrgUnit API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-5-7">User API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-5-8">SearchWords API</a></li>
	            </ul>
	        </li>
	        <li>
	            <a href="#chapter-6-0">Custom APIs</a>
	            <ul>
	            	<li><a href="#chapter-6-1">Bookmark API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-6-2">Comment API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-6-3">Attachment API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-6-4">CMS API</a></li>
	            </ul>
	            <ul>
	            	<li><a href="#chapter-6-5">Notification API</a></li>
	            </ul>
	        </li>
	    </ul>
	</div>
</body>
</html>
